.content-container {
    background-color: white;
    width: 530px;
    height: 450px;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    >p {
        text-align: center;
    }
}

h1 {
    color: #2E3EDF;
    font-size: 48px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 370px;
    padding: 10px;
    color: #2E3EDF;
    font-size: 18px;
    border: 1px solid #2E3EDF;
    border-radius: 12px;
    margin-bottom: 30px;
    outline: none;
}

input::placeholder {
    font-size: 18px;
    color: #2E3EDF;
}

input:focus {
    border: 1px solid #2E3EDF;
}

.send-email-btn {
    background-color: #2E3EDF;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    margin-top: 16px;
    padding: 12px 32px;
    font-size: 18px;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: #5665ff;
    }
}

.disabled-btn {
    background-color: #797979;

    &:hover {
        background-color: #797979;
        cursor: unset;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
        margin: 27px 15px;
    }

    .content-container {
        width: 80%;
        height: 440px;
    }

    input {
        width: 100%;
    }

    form {
        width: 80%;
    }

    p {
        margin: 18px 15px;
    }
}

@media (max-width: 500px) {
    .send-email-btn {
        font-size: 16px;
    }

    input {
        font-size: 16px;

        &::placeholder {
            font-size: 16px;
        }
    }
}
