<div class="forgot-password-container">
    <div class="content-container">
        <h1>Forgot Password</h1>
        <p>We will send you an email with instructions to reset your password.</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="email" id="email" formControlName="email" placeholder="Enter your email"
                    class="form-control"
                    [ngClass]="{'is-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}">
            </div>
            <button [ngClass]="{'disabled-btn': forgotPasswordForm.invalid || isSubmitting}" type="submit"
                class="send-email-btn" [disabled]="forgotPasswordForm.invalid || isSubmitting">
                {{ isSubmitting ? 'Sending...' : 'Send Reset Link' }}
            </button>
        </form>
    </div>
</div>