.content-container {
    background-color: white;
    width: 530px;
    height: 450px;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
        text-align: center;
    }
}

h1 {
    color: #2E3EDF;
    font-size: 48px;
    text-align: center;
}

input {
    padding: 11px 155px 11px 22px;
    color: #2E3EDF;
    font-size: 18px;
    border: 1px solid #2E3EDF;
    border-radius: 12px;
    margin-bottom: 30px;
    outline: none;
}

input::placeholder {
    font-size: 18px;
    color: #2E3EDF;
}

input:focus {
    border: 1px solid #2E3EDF;
}

.send-email-btn {
    background-color: #2E3EDF;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    margin-bottom: 16px;
    padding: 12px 32px;
    font-size: 18px;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: #5665ff;
    }
}