<video #backgroundVideo autoplay muted loop class="background-video">
    <source [src]="this.currentBackgroundVideo" type="video/mp4">
</video>
<div class="content">
    <header>
        <img src="assets/img/Symbol.svg" alt="Logo">
        <div (click)="this.authService.logOut()" class="log-out-btn"><img src="assets/img/logout.svg" alt="Log-Out-Logo">Log Out</div>
    </header>
    <div class="movie-description-box">
        <h1 class="movie-headline">
            {{ featuredMovieName }}
        </h1>
        <p class="movie-description">
            {{ featuredMovieDescription }}
        </p>
        <div class="log-out-btn width-btn" (click)="playFeaturedMovie()"><img src="assets/img/play_arrow.svg" alt="arrow-image">Play</div>
    </div>
    <div class="movie-list">
        <p class="headline">
            New on Videoflix
        </p>
        <div class="movies-container">
            <img *ngFor="let movie of newMovies" [src]="movie.image" alt="movie-image" class="movie" (click)="playMovie(movie)">
        </div>
    </div>
    <div class="movie-list">
        <p class="headline">
            Documentary
        </p>
        <div class="movies-container">
            <img *ngFor="let movie of documentaryMovies" [src]="movie.image" alt="movie-image" class="movie" (click)="playMovie(movie)">
        </div>
    </div>
    <div class="movie-list">
        <p class="headline">
            Drama
        </p>
        <div class="movies-container">
            <img *ngFor="let movie of dramaMovies" [src]="movie.image" alt="movie-image" class="movie" (click)="playMovie(movie)">
        </div>
    </div>
    <div class="movie-list">
        <p class="headline">
            Romance
        </p>
        <div class="movies-container">
            <img *ngFor="let movie of romanceMovies" [src]="movie.image" alt="movie-image" class="movie" (click)="playMovie(movie)">
        </div>
    </div>
    <app-impressum *ngIf="this.authService.showImpressum" id="impressum"></app-impressum>
    <app-datenschutz *ngIf="this.authService.showDatenschutz" id="datenschutz"></app-datenschutz>
    <footer>
        <a (click)="this.authService.toggleToDatenschutz(); scrollToDatenschutz()">Datenschutz</a>
        <a (click)="this.authService.toggleToImpressum(); scrollToImpressum()">Impressum</a>
    </footer>
</div>