.sign-up-container {
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #2E3EDF;
    font-size: 48px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 370px;
    padding: 10px;
    color: #2E3EDF;
    font-size: 18px;
    border: 1px solid #2E3EDF;
    border-radius: 12px;
    margin-bottom: 30px;
    outline: none;
}

input::placeholder {
    font-size: 18px;
    color: #2E3EDF;
}

input:focus {
    border: 1px solid #2E3EDF;
}

.sign-up-btn {
    background-color: #2E3EDF;
    color: white;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 40px;
    border: none;
    margin-top: 16px;
    font-size: 18px;

    &:hover {
        cursor: pointer;
        background-color: #5665ff;
    }
}

.error-message {
    color: red;
}

.error-margin-input {
    margin-bottom: 18px;
}

.disabled-btn {
    background-color: #797979;

    &:hover {
        background-color: #797979;
        cursor: unset;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    .sign-up-container {
        width: 80%;
        height: 440px;
    }

    input {
        width: 100%;
    }

    form {
        width: 80%;
    }
}

@media (max-width: 500px) {
    input {
        font-size: 16px;

        &::placeholder {
            font-size: 16px;
        }
    }

    .sign-up-btn {
        font-size: 16px;
    }
}