<div class="sign-up-container">
       <h1>Register</h1>
       <form (submit)="signUp($event)" ngNativeValidate>
              <input type="email" placeholder="Email Address" [formControl]="email">
              <input type="password" placeholder="Password" [formControl]="password">
              <input type="password" placeholder="Confirm Password" [formControl]="repeatedPassword">
              <button type="submit" class="sign-up-btn"
                     [disabled]="email.invalid || password.invalid || repeatedPassword.invalid"
                     [ngClass]="{'disabled-btn': email.invalid || password.invalid || repeatedPassword.invalid}">
                     Register
              </button>
       </form>
</div>