.content-container {
    background-color: white;
    width: 80%;
    height: 700px;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow-y: scroll;
    padding: 0 30px;
    position: relative;
}

.cancel-btn {
    position: absolute;
    right: 30px;
    top: 30px;

    &:hover {
        cursor: pointer;
    }
}