<img class="background-image" [src]="this.authService.currentBackgroundImage">
<div class="content-container">
    <header>
        <img class="logo" src="assets/img/Logo.svg" alt="videoflix-logo" (click)="toggleToLogin()">
    </header>
    <div class="reset-password-container" *ngIf="this.authService.showResetPassword">
        <h1>Reset Password</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <input type="password" id="password" formControlName="password" placeholder="Enter new password"
                class="form-control"
                [ngClass]="{'is-invalid': resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched}">
            <input type="password" id="confirm_password" formControlName="confirm_password"
                placeholder="Confirm new password" class="form-control"
                [ngClass]="{'is-invalid': resetPasswordForm.get('confirm_password')?.invalid && resetPasswordForm.get('confirm_password')?.touched}">
            <button type="submit" class="submit-btn"
                [ngClass]="{'disabled-btn': resetPasswordForm.invalid || isSubmitting}"
                [disabled]="resetPasswordForm.invalid || isSubmitting">
                {{ isSubmitting ? 'Resetting...' : 'Reset Password' }}
            </button>
        </form>
    </div>
    <app-impressum *ngIf="this.authService.showImpressum"></app-impressum>
    <app-datenschutz *ngIf="this.authService.showDatenschutz"></app-datenschutz>
    <footer>
        <a (click)="this.authService.toggleToDatenschutz()">Datenschutz</a>
        <a (click)="this.authService.toggleToImpressum()">Impressum</a>
    </footer>
</div>