<form (submit)="logIn()">
    <div class="log-in-container">
        <h1>
            Log in
        </h1>

        <input required type="email" placeholder="Email Address" name="email" #emailField>
        <input required type="password" placeholder="Password" name="password" #passwordField>
        <div [routerLink]="['movie-dashboard']" (click)="logIn()" class="log-in-btn">Log in</div>
        <span class="color-purple" (click)="this.authService.toggleToForgotPassword()">Forgot password?</span>
        <div class="bottom-box">
            <span>New to Videoflix?</span>
            <span (click)="this.authService.toggleToSignUp()" class="color-purple">Sign Up now</span>
        </div>
    </div>
</form>