<form (submit)="logIn()" ngNativeValidate>
    <div class="log-in-container">
        <h1>
            Log in
        </h1>
        <input required type="email" placeholder="Email Address" name="email" [(ngModel)]="email" [ngClass]="{'wrong-input': wrongInput}">
        <span class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
        </span>
        <input required type="password" placeholder="Password" name="password" [(ngModel)]="password">
        <button type="submit" class="log-in-btn" [disabled]="isLoading">{{ isLoading ? 'Logging in...' : 'Log in' }}</button>
        <span class="color-purple" (click)="this.authService.toggleToForgotPassword()">Forgot password?</span>
        <div class="bottom-box">
            <span>New to Videoflix?</span>
            <span (click)="this.authService.toggleToSignUp()" class="color-purple">Sign Up now</span>
        </div>
    </div>
</form>